body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    
    height: 100vh;
    margin: 0;
    background-color: #e7d383;
}

.TITULO{
    font-size: xx-large;
    color:#81589e;
   
}
.container {
    text-align: center;
    
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #81589e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #81589e;
}

#fieldset{
    height: 988px;
}